body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 30px;
}

#songs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.song-item {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.song-item h3 {
    font-size: 20px;
    margin: 10px 0;
}

.song-item audio {
    width: 100%;
    margin-top: 10px;
}